.profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.badge-active {
  border: 2px solid rgba(71, 191, 95, 0.907);
  color: rgba(71, 191, 95, 0.907);
}

.badge-inactive {
  border: 2px solid rgba(195, 79, 52, 0.907);
  color: rgba(195, 79, 52, 0.907);
}

.profile-img-thumbnail {
  height: 150px;
  cursor: pointer;
  border-radius: 5%;
}
